BasedOnStyle: Microsoft
ColumnLimit: 80
AlignAfterOpenBracket: true
AlignTrailingComments: true
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveMacros: Consecutive